# Lists

In [3]:
#creating lists ... square brackets
list1=['Hyd','Mum','Del','Chn']
list2=['emp1','emp2',111,222]
print(list1)
print(list2)

['Hyd', 'Mum', 'Del', 'Chn']
['emp1', 'emp2', 111, 222]

In [5]:
#Accessing values in a list
print(list1[3])
print(list2[-2])

Chn
111

In [6]:
#Accessing values using slicing
list1[0:1]

['Hyd']

In [8]:
list1[0::]

['Hyd', 'Mum', 'Del', 'Chn']

In [9]:
list1[-3:2]

['Mum']

In [18]:
#list concatenation
new_list=list1+list2
new_list

['Hyd', 'Mum', 'Del', 'Chn', 'emp1', 'emp2', 111, 222]

In [16]:
#iteration
for a in list2:
    print(a)

emp1
emp2
111
222

In [17]:
#search
if 'Chennai' in list1:
    print ('Valid')
else:
    print('Invalid City')

Invalid City

In [21]:
#append, insertion,remove 
#list2.append('emp3-333')
list2.append('333')
list2

['emp1', 'emp2', 111, 222, 'emp3-333', '333']

In [22]:
list2.insert(2,'emp3')
list2

['emp1', 'emp2', 'emp3', 111, 222, 'emp3-333', '333']

In [23]:
list2.remove('emp3-333')
list2

['emp1', 'emp2', 'emp3', 111, 222, '333']

In [25]:
#backup of list1 and list2
#list1_bkp=list1.copy()
#list1_bkp
list2_bkp=list2.copy()
list2_bkp

['emp1', 'emp2', 'emp3', 111, 222, '333']

In [26]:
#reverse
list1.reverse()
list1

['Chn', 'Del', 'Mum', 'Hyd']

In [29]:
#Extend
list1.extend(list2)
list1 #list1 is extended with list2 
#list2 # remains same

['Chn',
 'Del',
 'Mum',
 'Hyd',
 'emp1',
 'emp2',
 'emp3',
 111,
 222,
 '333',
 'emp1',
 'emp2',
 'emp3',
 111,
 222,
 '333']

In [32]:
#pop, del, clear
list1.pop()
list1 # executed thrice last 3 elements are deleted one by one

['Chn',
 'Del',
 'Mum',
 'Hyd',
 'emp1',
 'emp2',
 'emp3',
 111,
 222,
 '333',
 'emp1',
 'emp2',
 'emp3']

In [34]:
#del list1[0]
list1 # first element 'Chn' deleted as index is mentioned

['Del',
 'Mum',
 'Hyd',
 'emp1',
 'emp2',
 'emp3',
 111,
 222,
 '333',
 'emp1',
 'emp2',
 'emp3']

In [35]:
del list1
list1 # above statement deleted complete list1

NameError: name 'list1' is not defined

In [36]:
list2

['emp1', 'emp2', 'emp3', 111, 222, '333']

In [39]:
list1=['Hyd', 'Mum', 'Del', 'Chn', 'emp1', 'emp2', 111, 222]
list1

['Hyd', 'Mum', 'Del', 'Chn', 'emp1', 'emp2', 111, 222]

In [40]:
list1.clear()

In [41]:
list1 # Cleared the list

[]

# Tuples

In [2]:
#Accessing values
tuple1=('Hai','how','are','you','doing?')
tuple1[1:5]

('how', 'are', 'you', 'doing?')

In [3]:
tuple1[2:3]

('are',)

In [4]:
#Converting list into tuple
list1=['I','am','fine']
tuple2=tuple(list1)
list2=list(tuple2)
type(list2)

list

In [5]:
type(tuple2)

tuple

In [6]:
#Concatenating
tuple3=tuple1+tuple2
tuple3

('Hai', 'how', 'are', 'you', 'doing?', 'I', 'am', 'fine')

In [7]:
list3=list1+list2
list3

['I', 'am', 'fine', 'I', 'am', 'fine']

In [8]:
#copy,extend,reverse is not valid for tuples
tuple1=tuple1_bkp.copy()
tuple1_bkp

AttributeError: 'tuple' object has no attribute 'copy'

In [9]:
tuple1.extend(tuple2)
tuple1

AttributeError: 'tuple' object has no attribute 'extend'

In [10]:
tuple1.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'