In [6]:
#Practicing String concepts
#Used new line character to get data in new line
AboutMe="My name is Priya. I'm learning Python.\n I live in New Jersey, USA.\n My area Pincode is 08536"
print(AboutMe)

My name is Priya. I'm learning Python.
 I live in New Jersey, USA.
 My area Pincode is 08536

In [7]:
#Searching for a string
find='Priya' in AboutMe
print(find)

True

In [8]:
#Case sensitive check
find='priya' in AboutMe
print(find)

False

In [11]:
#Case conversion
print(AboutMe.upper())

MY NAME IS PRIYA. I'M LEARNING PYTHON.
 I LIVE IN NEW JERSEY, USA.
 MY AREA PINCODE IS 08536

In [17]:
#Slicing and convert the case
name=AboutMe[11:16:1]
print(name.upper())

PRIYA

In [19]:
#using replace
print(AboutMe.replace('New Jersey, USA','NJ, United States of America'))

My name is Priya. I'm learning Python.
 I live in NJ, United States of America.
 My area Pincode is 08536

In [20]:
# Display string in reverse way
AboutMe[::-1]

"63580 si edocniP aera yM \n.ASU ,yesreJ weN ni evil I \n.nohtyP gninrael m'I .ayirP si eman yM"

In [32]:
#slice string from the last
pin=AboutMe[-5::]
print(pin)

08536

In [36]:
#Assigning multivalues to multiple variables at a time
m1,m2,m3='Jan','Feb','Mar'
print(m1)
print(m2)
print(m3)

Jan
Feb
Mar

In [44]:
#String Concatenation
Q1=m1+' and ' +m2+' and ' +m3
print(Q1)

Jan and Feb and Mar

In [47]:
#Using split method, by default its comma seperated split
print(Q1.split())

['Jan', 'and', 'Feb', 'and', 'Mar']

In [50]:
#split method also replaces a string into comma
txt=Q1.split("and")
print(txt)

['Jan ', ' Feb ', ' Mar']